@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

.hero-title {
	text-shadow: 10px 10px 20px black; /* Apply shadow directly using text-shadow */
}

.contain-shadow {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Apply shadow directly using text-shadow */
}
